################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Homework 23.09/Homework 23.09/.vs/Homework 23.09/v16/Browse.VC.opendb
/Homework 3/.vs/Homework 3/v16/Browse.VC.opendb
*.vs/